<div class="container">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="card login-card">
        <div class="row">
          <div class="col-md-4">
            <img src="img/login1.jpg" alt="Logo" class="img-fluid">
          </div>
          <div class="col-md-8">
            <div class="row mt-5">
              <div class="col-md-10">
                <h1 mt-1 mb-2>Casales San Pedro</h1>
                <p></p>
              </div>
              <div class="col-md-10 mt-1 mb-3">
                <p class="lead">Bienvenido de nuevo. Inicia sesión para continuar.</p>
                <span style="color: #0A8800;"> <i class="bi bi-lock"></i> Todos los datos se cifrarán</span>
              </div>
              <div *ngIf="errorMessage !== ''" class="col-md-10 mt-1 mb-3">
                <div class="alert alert-danger" role="alert" [innerHTML]="errorMessage"></div>
              </div>

              <div class="col-md-10 mt-1 mb-3">

              </div>

              <div class="col-md-10">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <label for="email" class="form-label">Nombre de usuario o Correo electrónico</label>
                    <input type="text" id="username" class="form-control form-control-lg" formControlName="username">
                    <div class="text-danger"
                      *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                      Ingresa un correo válido.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="position-relative">
                      <input [type]="showPassword ? 'text' : 'password'" id="password"
                        class="form-control form-control-lg pe-5" formControlName="password"
                        placeholder="Ingresa tu contraseña" />
                      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePassword()"
                        style="position: absolute; top: 50%; right: 15px; transform: translateY(-50%); font-size: 1.5rem; cursor: pointer; color: #6c757d;"></i>
                    </div>
                    <div class="text-danger mt-1"
                      *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                      La contraseña es obligatoria.
                    </div>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-lg btn-success w-100">Ingresar</button>
                  </div>
                  <div class="center">
                    <div class="mb-3">
                      <a href="#"
                        class="text-decoration-none action-cell">¿Olvidaste tu contraseña?</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>